@font-face {
  font-family: "Docktrin";
  src: url("./assets/fontfaces/docktrin.ttf") format("truetype");
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-image: url("./assets/images/backgroundPattern.jpg");
  font-family: Docktrin;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
#menu-panel {
  width: 35vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#card-panel {
  display: grid;
  width: 60vw;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.card-item {
  width: 19vh;
  height: 27vh;
  margin-top: 20px;
  border-radius: 10px;
  background-image: url("./assets/images/cardCover.jpg");
  background-size: cover;
}
#game-name {
  font-size: 60px;
  background-image: url("./assets/images/name-bg.jpg");
  background-size: contain;
  text-align: center;
  width: 70%;
  height: 20vh;
  border-radius: 20px;
  color: white;
  padding: 10px;
}
#score-panel,
#health-panel,
#level-panel {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  padding: 20px 0 0;
  text-align: center;
  width: 60%;
  height: 150px;
  font-size: 60px;
  border-radius: 10px;
}
#score-panel {
  background-image: url("./assets/images/score-bg.jpg");
  color: white;
}
#health-panel {
  background-image: url("./assets/images/health-bg.jpg");
}
#level-panel {
  background-image: url("./assets/images/level-bg.jpg");
  color: darkred;
}

#start-screen {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#start-button {
  background-image: url("./assets/images/start.jpg");
  background-size: contain;
  width: 305px;
  height: 90px;
  border-radius: 20px;
  color: white;
  font-size: 76px;
  text-align: center;
  cursor: pointer;
}
#app-name {
  font-size: 160px;
  color: rgb(206, 68, 13);
  text-align: center;
}

@media (max-width: 1680px) {
  #container {
    flex-direction: column;
    height: 100vh;
  }
  #menu-panel {
    flex-direction: row;
    height: 100%;
    width: 90vw;
  }
  #card-panel {
    width: 90vw;
  }
  .card-item {
    width: 16vh;
    height: 22vh;
  }
  #game-name {
    font-size: 35px;
    width: 50%;
    height: 10vh;
  }
  #score-panel,
  #health-panel,
  #level-panel {
    width: 60%;
    height: 10vh;
    font-size: 50px;
    margin: 0 10px;
  }
}
@media (max-width: 1370px) {
  #game-name {
    font-size: 27px;
  }
}
@media (max-width: 950px) {
  #game-name {
    font-size: 21px;
  }
  #score-panel,
  #health-panel,
  #level-panel {
    width: 60%;
    height: 8vh;
    font-size: 35px;
    margin: 0 10px;
  }
}

@media (max-width: 740px) {
  .card-item {
    width: 11vh;
    height: 16vh;
  }
  #menu-panel {
    flex-wrap: wrap;
    height: 80%;
  }
  #score-panel,
  #health-panel,
  #level-panel {
    width: 40%;
    height: 6vh;
    font-size: 35px;
    margin: 0;
  }
  #game-name {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .card-item {
    width: 9vh;
    height: 14vh;
  }
  #score-panel,
  #health-panel,
  #level-panel {
    width: 40%;
    font-size: 30px;
  }
}
